<?xml version="1.0"?>

<launch>
	
	<include file="$(find assignment2_exprob)/launch/sim_aruco2.launch"></include>
    	
    	<include file="$(find assignment2_exprob)/launch/gmapping.launch"></include>
    	
    	<include file="$(find assignment2_exprob)/launch/move_base.launch"></include>
    	
    	
</launch>
